# Rhapsody Environment Configuration
# This file is for your local settings and should NOT be committed to git.

APP_URL=""

# If your website is installed in a subdirectory, enter the name of the 
# subdirectory, preceeded by a forward slash("/subdir-name"). Otherwise,
# just leave this blank
APP_BASE_URL=""

# Can be 'development' or 'production'
# MAKE SURE TO SET THIS TO PRODUCTION ON A LIVE SITE
APP_ENV="development"

# Change the active theme here. Make sure that the name matches
# the folder name stored in /views/themes/ directory
APP_THEME="default"

# Database
DB_HOST="localhost"
DB_PORT="3306"
DB_NAME=""
DB_USER=""
DB_PASS=""

# Set true for dev server, false for production 
VITE_DEV_SERVER=true
VITE_PORT=5173

DDOS_ENABLED=true
DDOS_MAX_REQUESTS=60
DDOS_TIME_WINDOW=60
DDOS_BLOCK_DURATION=300
DDOS_WHITELIST=127.0.0.1,::1,192.168.1.100
DDOS_BLACKLIST=

# --- MAILER CONFIGURATION ---
MAIL_TRANSPORT="smtp"
MAIL_HOST=""
MAIL_PORT="587"
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME=""

# If you want to receive updates / notification from Rhapsody Framework
MAIL_ADMIN_EMAIL = ""

# This can be 'file' or 'redis'
CACHE_DRIVER=file

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null

RECAPTCHA_SITE_KEY="your_site_key_here"
RECAPTCHA_SECRET_KEY="your_secret_key_here"

PAYMENT_GATEWAY=Stripe
STRIPE_API_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

APP_VERSION="1.8.2"
